* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo-verde: #339657;
    --cor-fundo-cinza: #EFEFEF;
    --cor-fundo-branca: #FFFFFF;
    --cor-fundo-preta: #1b1b1b;

    --cor-fonte-branca: #FFFFFF;
    --cor-fonte-cinza: #656565;
}

#logo-5 {
    display: flex;
    width: 300px;
    height: 20px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 5px;
}

#logo-5 a{
    text-decoration: none;
    color: var(--cor-fonte-cinza);
    font-family: 'Aileron', sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
}

#logo-11 {
    display: flex;
    height: 36px;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 5px;
}

#logo-11 p{
    font-family: 'Aileron', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#menu-secundario {
    background-color: var(--cor-fundo-cinza);
    color: var(--cor-fonte-cinza); 
    padding-right: 8rem; 
    padding-left: 8rem; 
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#menu-secundario-nav a{
    color: var(--cor-fonte-cinza);
    font-family: 'Aileron', sans-serif;
    text-decoration: none;
    list-style: none;
}

#menu-secundario-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#MS-botoes ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

#MS-botoes li{
    margin: 1rem;
    text-decoration: none;
}

#menu-principal {
    background-color: var(--cor-fundo-verde); 
    color: var(--cor-fonte-branca);
    padding-right: 8rem; 
    padding-left: 8rem; 
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.menu-principal-nav a{
    color: var(--cor-fonte-branca);
    font-family: 'Aileron', sans-serif;
    text-decoration: none;
    list-style: none;
}

.menu-principal-nav {
    display: flex;
    justify-content: center;
}

#navegacao-mobile {
    display: none;
}

.menu-principal-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around
}

#MP-botoes ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

#MP-botoes li{
    margin: 1rem;
    text-decoration: none;
}

#MP-pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#MP-pesquisa:hover {
    
}

#MP-pesquisa input[type=text] {
    background-image: url(/assets/Vector.png);
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 1.3rem;
    padding: 0.5rem;
    
    background-color: var(--cor-fundo-verde);
    border: solid var(--cor-fundo-branca) 1px;
    border-radius: 2rem;
}

#MP-pesquisa input::placeholder {
    padding-left: 15px;
    color: var(--cor-fonte-branca);
}

#MP-pesquisa input[type=button] {
    font-family: 'Aileron', sans-serif;
    font-weight: 600;
    width: 100px;
    color: var(--cor-fundo-preta);
    background-color: var(--cor-fundo-branca);
    border: var(--cor-fundo-branca) solid 1px;
    border-radius: 2rem;
    padding: 0.5rem;
}

.capa {
    width: 80%;
    margin: auto;
}

.assunto {
    font-family: 'Aileron', sans-serif;
    display: flex;
    flex-direction: row;
    padding: 13% 0;
    gap: 50px;
}

.assunto-texto {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.assunto-texto h1{
    font-weight: 700;
    font-size: 40px; 
}

#imagens-pequenas img {
    width: 180px;
}

#award {
    display: flex;
    gap: 5px;
}

#award a{
    width: 130px;
    padding: 3px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;  
    color: var(--cor-fundo-preta); 
    background-color: var(--cor-fundo-cinza);
    border: 1px #000;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.assunto-texto p{
    font-size: 15px;
    font-weight: 400;
}

.assunto-imagem img { 
    width: 100%;
}

.subscribe {
    display: flex;
}

.subscribe button {
    color: var(--cor-fonte-branca);
    background-color: var(--cor-fundo-verde);
    border: var(--cor-fundo-verde) solid 1px;
    border-radius: 2rem;
    padding: 0.8rem;
    margin-left: -90px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.subscribe input[type=text] {
    background-color: var(--cor-fundo-cinza);
    color: var(--cor-fonte-cinza);
    border: var(--cor-fundo-cinza) solid 1px;
    border-radius: 2rem;
    padding: 1.1rem;
    padding-right: 250px;
}

.subscribe input::placeholder {
    color: var(--cor-fonte-cinza);
    font-size: 10px;
}

.segunda-parte {
    background-color: var(--cor-fundo-preta);
    font-family: 'Aileron', sans-serif;
    color: var(--cor-fonte-branca);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 8rem; 
    padding-left: 8rem; 

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 250px;
}  

.segunda-parte h3 {
    font-size: 1.7rem;
    font-weight: 600;
}

.segunda-parte p {
    font-size: 13px;
}

.informacoes {
    gap: 20px;
}

.informacoes h5 {
    font-size: 2rem;
}

.informacoes p {
    font-size: 13px;
    font-weight: 400;
}

.informacoes-detalhes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.informacoes-detalhes h5 {
    font-size: 20px;
    font-weight: 600;
}

.informacoes-detalhes p {
    font-size: 10px;
    font-weight: 400;
}

.mais-verde {
    color: var(--cor-fundo-verde);
}

.imagens {
    background-color: var(--cor-fundo-branca);
    font-family: 'Aileron', sans-serif;
    color: var(--cor-fundo-preta);

    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.esquerda {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 125px;
}

.texto-esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.texto-esquerda h3 {
    font-size: 2rem;
}

.texto-esquerda p {
    color: var(--cor-fonte-cinza);
    font-size: 13px;
}

.texto-esquerda a {
    background-image: url(/assets/Vector1.png);
    background-position: 100px;
    background-repeat: no-repeat;

    padding: 18px;
    padding-right: 60px;

    text-decoration: none;
    background-color: var(--cor-fundo-verde);
    color: var(--cor-fundo-branca);
    font-size: 13px;
    border: var(--cor-fundo-verde) 1px;
    border-radius: 2rem;
}

.texto-esquerda img {
    width: 2px;
}

.esquerda img {
    width: 450px;
}

/**/
.direita {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 120px;
}

.texto-direita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.texto-direita h3 {
    font-size: 2rem;
}

.texto-direita p{
    color: var(--cor-fonte-cinza);
    font-size: 13px;
}

.texto-direita a {
    background-image: url(/assets/Vector1.png);
    background-position: 100px;
    background-repeat: no-repeat;

    padding: 18px;
    padding-right: 60px;

    text-decoration: none;
    background-color: var(--cor-fundo-verde);
    color: var(--cor-fundo-branca);
    font-size: 13px;
    border: var(--cor-fundo-verde) 1px;
    border-radius: 2rem;
}

.direita img {
    width: 350px;
}

.terceira-parte {
    background-color: var(--cor-fundo-cinza);
    padding: 4rem 8rem;
    font-family: 'Aileron', sans-serif;
}

.titulo-terceira {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.terceira-parte h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.terceira-parte p {
    font-size: 13px;
    color: var(--cor-fonte-cinza);
}   

.blocos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    padding: 2rem;
}

.bloco {
    background-color: var(--cor-fundo-branca);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    width: 30%;
}

.bloco-diferente {
    color: var(--cor-fonte-branca);
    background-color: var(--cor-fundo-verde);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    width: 30%;
}

.bloco-diferente p {
    color: var(--cor-fonte-branca);
}

.linha-1, .linha-2 {
    display: flex;
    gap: 20px;
}

.quarta-parte {
    background-color: var(--cor-fundo-preta);
    padding: 4rem 8rem;
    font-family: 'Aileron', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.setas {
    display: block;
    justify-content: flex-end;
    gap: 20px;
}

.seta-branca {
    border: var(--cor-fonte-branca) solid 1px;
    border-radius: 13px;
    padding: 4px 5px;
}
.seta-verde {
    border: var(--cor-fundo-verde) solid 1px;
    border-radius: 13px;
    padding: 4px 5px;
}

.pacientes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pacientes h5 {
    color: var(--cor-fundo-verde);  
    font-size: 13px;
    font-weight: 500;
}

.pacientes h4 {
    color: var(--cor-fonte-branca);
    font-size: 30px;
    font-weight: 600;
}

.avaliacao {
    display: flex;
    flex-direction: row;
    gap: 12.5rem;
}

.avaliacao img {
    width: 300px;
}

.imagem-avaliacao img {
    width: 600px;
}

.avaliacao-mobile {
    display: none;
}

.conjunto-avaliacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.seta-cinza {
    border: var(--cor-fonte-cinza) solid 1px;
    border-radius: 13px;
    padding: 4px 5px;
}

.quinta-parte {
    background-color: var(--cor-fundo-cinza);
    font-family: 'Aileron', sans-serif;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.setas-2 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.titulo-quinta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.titulo-quinta h3 {
    width: 60%;
    font-size: 33px;
    font-weight: 700;
}

.titulo-quinta p {
    font-size: 13px;
}

.imagens-quinta {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.bloco-2 {
    background-color: var(--cor-fundo-branca);
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bloco-2 img {
    width: 100%;
}
.bloco-2 h5 {
    font-size: 17px;
    font-weight: 700;
}
.bloco-2 p {
    font-size: 13px;
    color: var(--cor-fonte-cinza);
}

.sexta-parte {
    background-color: var(--cor-fundo-branca);
    font-family: 'Aileron', sans-serif;
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.titulo-sexta {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-top: -17rem;
    color: var(--cor-fonte-branca);
}

.titulo-sexta h2 {
    font-size: 33px;
    font-weight: 600;
}

.titulo-sexta p {
    font-size: 11px;
    color: var(--cor-fonte-branca);
}  

.retangulo img {
    width: 100%;
}

.fundoverde-mobile {
    display: none;
}

.subscribe-2 {
    display: flex;
    justify-content: center;
}

.subscribe-2 button {
    color: var(--cor-fonte-branca);
    font-size: 10px;
    background-color: var(--cor-fundo-preta);
    border: var(--cor-fundo-preta) solid 1px;
    border-radius: 2rem;
    padding: 0.6rem;
    padding-right: 1.4rem;
    margin-left: -80px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.subscribe-2 input[type=text] {
    background-color: var(--cor-fundo-cinza);
    color: var(--cor-fonte-cinza);
    border: var(--cor-fundo-cinza) solid 1px;
    border-radius: 2rem;
    padding: 0.7rem;
    padding-right: 250px;
}

.subscribe-2 input::placeholder {
    font-size: 10px;
}

.assunto-sexta {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.redes p {
    color: var(--cor-fonte-cinza);
    font-size: 13px;
    font-weight: 500;
}

.redes img {
    width: 45%;
}

#social-icon {
    width: 30%;
}

.nav-final {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav-final-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.colunas-nav {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

.nav-final a {
    text-decoration: none;
    color: var(--cor-fonte-cinza);
    font-size: 12px;
}

.nav-final-2 a {
    text-decoration: none;
    color: var(--cor-fonte-cinza);
    font-size: 12px;
}

.nav-final h5 {
    color: var(--cor-fundo-preta);
    font-size: 15px;
}

.nav-final-2 h5 {
    color: var(--cor-fundo-preta);
    font-size: 15px;
}

#botao-final {
    background-color: var(--cor-fundo-verde);
    color: var(--cor-fonte-branca);
    font-size: 13px;
    font-weight: 600;
    border: var(--cor-fundo-verde) solid 1px;
    border-radius: 2rem;
    padding: 0.7rem;
    padding-left: 1rem;
    width: 60%;
    display: flex;
    justify-content: center;
}

.rodape {
    padding: 1rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rodape h5 {
    font-family: 'Aileron', sans-serif;
    color: var(--cor-fundo-preta);
    font-size: 10px;
    font-weight: 500;
}

@media (max-width: 768px) {

    #menu-secundario {
        margin: auto;
        padding: 1rem;
    }
    #menu-secundario-nav {
        display: none;
    }
    #menu-principal {
        margin: auto;
        padding: 1rem;
    }
    #logo-5 a {
        font-size: 13px;
    }
    #logo-11 p{
        font-size: 25px;
    }
    .menu-principal-nav {
        display: none;
    }
    #navegacao-mobile {
        display: flex;
        align-items: center;
    }
    .assunto {
        display: flex;
        flex-direction: column;
        padding: 13% 0;
        gap: 50px;
    }
    .assunto-texto {
        width: auto;
        margin: auto;
    }
    .assunto-texto h1 {
        font-size: 30px;
    }
    .assunto-texto p {
        font-size: 15px;
    }
    .assunto-imagem {
        display: flex;
        justify-content: center;
        width: auto;
    }
    .subscribe button {
        color: var(--cor-fonte-branca);
        background-color: var(--cor-fundo-verde);
        border: var(--cor-fundo-verde) solid 1px;
        border-radius: 2rem;
        padding: 0.8rem;
        margin-left: -90px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .subscribe {
        width: auto;
    }
    .subscribe input[type=text] {
        padding: 1rem;
        padding-right: 100px;
    }
    .subscribe button {
        padding: 0.5rem;
        width: 8rem;
        margin-left: -133px;
    }
    .segunda-parte {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 20% 10%;
        gap: 30px;
    }
    .imagens {
        margin: auto;
        padding: 20% 10%;
        gap: 30px;
    }
    .esquerda {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .esquerda img {
        width: 100%;
    }
    .texto-esquerda h3 {
        font-size: 1.5rem;
    }
    .texto-esquerda a {
        padding: 16px;
        padding-right: 60px;
    }
    /* direita */
    .direita {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .direita img {
        width: 100%;
    }
    .texto-direita h3 {
        font-size: 1.5rem;
    }
    .texto-direita a {
        padding: 16px;
        padding-right: 60px;
    }
    .texto-direita p{
        font-size: 13px;
    }
    .terceira-parte {
        padding: 20% 10%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .terceira-parte h2 {
        font-size: 1.5rem;
    }
    .blocos {
        margin: auto;
        padding: 0;
    }
    .linha-1, .linha-2 {
        display: flex;
        flex-direction: column;
    }
    .bloco, .bloco-diferente {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .bloco img {
        width: 50px;
        display: flex;
        justify-content: flex-start;
        padding-right: 5rem; 
    }
    .bloco-diferente img {
        width: 50px;
        display: flex;
        justify-content: flex-start;
        padding-right: 5rem; 
    }
    .quarta-parte {
        padding: 20% 10%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .avaliacao {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .imagem-avaliacao {
        display: none;
    }
    .avaliacao-mobile {
        display: block;
        width: 600px;
    }
    .quinta-parte {
        margin: auto;
        padding: 20% 10%;
    }
    .titulo-quinta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .titulo-quinta h3 {
        font-size: 27px;
    }
    .setas-2 {
        display: none;
    }
    .imagens-quinta {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .bloco-2 {
        width: auto;
    }
    .sexta-parte {
        padding: 20% 10%;
    }
    .fundoverde {
        display: none;
    }
    .fundoverde-mobile {
        display: flex;
    }
    .titulo-sexta {
        width: auto;
        margin-top: -14.5rem;
        gap: 15px;
    }
    .titulo-sexta h2 {
        font-size: 28px;
    }
    .titulo-sexta p {
        padding: 20px;
    }
    .subscribe-2 input[type=text]{
        padding-right: 60px;
    }
    .assunto-sexta {
        display: flex;
        flex-direction: column;
    }
    .colunas-nav {
        gap: 3rem;
    }
    .nav-final {
        gap: 10px;
    }
    #botao-final {
        display: flex;
        justify-content: flex-start;
        width: 6rem;
    }
    #desenvolvedor {
        display: none;
    }
    .rodape {
        margin: auto;
        padding: 1rem;
    }
    #rodape-web {
        display: none;
    }

}